footer {
  padding: 20px 0;
  font-family: _font(family-content);
  background-color: _palette(accent-color);
  color: white;

  .copyright {
    text-align: center;
    font-size: 16px;
    font-weight: _font(weight-heading);
  }

  @include breakpoint(xsmall) {
    .copyright {
      font-size: 12px;
    }
  }

  @include breakpoint(xxsmall) {
    .copyright {
      font-size: 10px;
    }
  }
}