#game-section {
  canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    width: 512px;
    height: 480px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 50px;
  }
  button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00cccc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-right: 5px;
  }

  button:hover {background-color: #0066cc}

  button:active {
    background-color: #0066cc;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .game-title {
    padding: 50px 0;
    width: 100%;
    color: _palette(text-dark-color);
    text-align: center;
    font-size: 40px;
    font-family: _font(family-title);
    font-weight: _font(weight-bold);
  }
  .gameButtons{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@include breakpoint(xxsmall) {
  canvas{
    width: 240px !important;
    height: 150px !important;
  }
}

@include breakpoint(xsmall) {
  canvas{
    width: 310px !important;
    height: 200px !important;
  }
}
